# python -m pip install --upgrade pip && pip install -r requirements.txt
# pip install -r requirements.txt

aiohttp
pyyaml 


# LLM・LangChain
langchain
openai
requests
# llama-index
# huggingface-hub
# transformers
# sentence-transformers
# chromadb
# faiss-cpu
# pinecone-client
# tiktoken
# pydantic
