# python -m pip install --upgrade pip && pip install -r requirements.txt
# pip install -r requirements.txt

# 画像処理
pillow
PyMuPDF==1.23.26
pytesseract
pdfminer.six
tabulate     # pandas markdown?
markdown-pdf # not good 